
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link href="Photo/text.png" rel="shortcut icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CountrySide</title>
    <style>
            body, html {
              height: 100%;
              margin: 0;
            }
            
            .bg {
              /* The image used */
              background-image: url("Photo/fimga.png");
            
              /* Full height */
              height: 100%; 
            
              /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            </style>
  </head>
  <body>
    <!--  -->
    
        <nav  style="background-color: #274832;" class="navbar navbar-expand-lg navbar-dark " >
          <div class="collapse navbar-collapse" id="navbarColor02" >
            <a class="navbar-brand" style="width:9%;height:9%;"><img src="photo\logo1.png" style="width:100%;height:100%;"></img></a>
                </div>
                
                <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" >Europe <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" >Australia <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active">S.America <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" >N.America <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" >Asia <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" >Africa<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" >Antarctica<span class="sr-only">(current)</span></a>
                  </div>
          
            </div>
      </nav>

      <div class="bg" >
        <div class="container">
          <form method="GET" action="{% url 'shtetet-info' %}">
            {% csrf_token %}
            <div class="form-group row" >
               <div class="col-md-2 col-sm-1">
                
              </div>
              <div class="col-md-7 col-sm-8"style="margin-top: 25%; padding-right: 0;">
                <input type="text" name='q' placeholder='Search...' class="form-control" style="border-bottom-left-radius:  25px; border-top-left-radius:  25px; ">
              </div>
              <div class="col-md-1 col-sm-1"style="margin-top: 25%; padding-left: 0; ">
                <button type='submit' class="btn btn-primary" style="border-bottom-right-radius:  25px; border-top-right-radius:  25px; ">
                    Search
                </button>
              </div>
            </div>
          </form>
          
        </div> 
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>